body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    background-color: #faf6eb;
	flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
}

#navigation {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
	margin-right: 50px;
}

#navigation li {
    display: inline;
    margin-left: 10px;
}

#navigation li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
#gallery-container img {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid #ccc;
	 align-items: center;
}

